VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2025-01-01
VITE_SANITY_USE_CDN=true
VITE_ENABLE_VISUAL_EDITING=false
VITE_SANITY_STUDIO_URL=http://localhost:3333
VITE_SITE_NOINDEX=false
