VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2025-01-01
VITE_SANITY_USE_CDN=true
VITE_ENABLE_VISUAL_EDITING=false
VITE_SANITY_STUDIO_URL=http://localhost:3333
VITE_SITE_NOINDEX=false
VITE_SITE_URL=https://example.com
SANITY_API_READ_TOKEN=
SANITY_SESSION_SECRET=
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
